GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
SPOTIFY_CLIENT_ID=your_spotify_client_id_here
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret_here
NOTION_TOKEN=your_notion_integration_token_here
NOTION_TASKS_DB_ID=your_notion_tasks_database_id_here
NOTION_NOTES_DB_ID=your_notion_notes_database_id_here
